body[data-app-ads-banner="true"] div[data-app-component="ads-banner"] {
            display: block;
        }
body .rm {
            transition: opacity 500ms linear;
        }
body[data-app-reader-mode="false"] .rm {
            opacity: 1.0;
        }
body {
            transition: font-size 500ms linear;
        }
body[data-app-zoom="0"] {
            font-size: 16px;
        }
:root{--bs-blue:#144da0;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#144da0;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))}*,::after,::before{box-sizing:border-box}
:root{scroll-behavior:smooth}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2}.h1,h1{font-size:calc(1.375rem + 1.5vw)}
.h2,h2{font-size:calc(1.325rem + .9vw)}
.h4,h4{font-size:calc(1.275rem + .3vw)}
p{margin-top:0;margin-bottom:1rem}
ol,ul{padding-left:2rem}dl,ol,ul{margin-top:0;margin-bottom:1rem}
blockquote{margin:0 0 1rem}b,strong{font-weight:bolder}.small,small{font-size:.875em}
a{color:#144da0;text-decoration:underline}
code,kbd,pre,samp{font-family:var(--bs-font-monospace);font-size:1em;direction:ltr;unicode-bidi:bidi-override}pre{display:block;margin-top:0;margin-bottom:1rem;overflow:auto;font-size:.875em}pre code{font-size:inherit;color:inherit;word-break:normal}code{font-size:.875em;color:#d63384;word-wrap:break-word}
img,svg{vertical-align:middle}
button{border-radius:0}
button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}[role=button]{cursor:pointer}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}
.display-1{font-size:calc(1.625rem + 4.5vw);font-weight:300;line-height:1.2}
.list-unstyled{padding-left:0;list-style:none}
.img-fluid{max-width:100%;height:auto}
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto}
.container,.container-sm{max-width:540px}
.container,.container-md,.container-sm{max-width:720px}
.collapse:not(.show){display:none}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding-top:.5rem;padding-bottom:.5rem}.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl{display:flex;flex-wrap:inherit;align-items:center;justify-content:space-between}.navbar-brand{padding-top:.3125rem;padding-bottom:.3125rem;margin-right:1rem;font-size:1.25rem;text-decoration:none;white-space:nowrap}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center}.navbar-toggler{padding:.25rem .75rem;font-size:1.25rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.25rem;transition:box-shadow .15s ease-in-out}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;background-repeat:no-repeat;background-position:center;background-size:100%}
.navbar-light .navbar-brand{color:rgba(0,0,0,.9)}
.navbar-light .navbar-toggler{color:rgba(0,0,0,.55);border-color:rgba(0,0,0,.1)}.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}
.badge{display:inline-block;padding:.35em .65em;font-size:.75em;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem}
.alert{position:relative;padding:1rem 1rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem}
.alert-dismissible{padding-right:3rem}
.alert-light{color:#636464;background-color:#fefefe;border-color:#fdfdfe}
.stretched-link::after{position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;content:""}
.d-flex{display:flex!important}
.position-relative{position:relative!important}
.border{border:1px solid #dee2e6!important}
.border-top{border-top:1px solid #dee2e6!important}
.border-bottom{border-bottom:1px solid #dee2e6!important}
.border-5{border-width:5px!important}
.w-100{width:100%!important}
.min-vh-100{min-height:100vh!important}
.justify-content-around{justify-content:space-around!important}
.align-items-center{align-items:center!important}
.mx-auto{margin-right:auto!important;margin-left:auto!important}
.my-3{margin-top:1rem!important;margin-bottom:1rem!important}
.me-2{margin-right:.5rem!important}
.mb-0{margin-bottom:0!important}
.mb-4{margin-bottom:1.5rem!important}
.ms-1{margin-left:.25rem!important}
.ms-3{margin-left:1rem!important}
.ms-auto{margin-left:auto!important}
.px-2{padding-right:.5rem!important;padding-left:.5rem!important}.px-3{padding-right:1rem!important;padding-left:1rem!important}
.px-5{padding-right:3rem!important;padding-left:3rem!important}
.py-3{padding-top:1rem!important;padding-bottom:1rem!important}.py-4{padding-top:1.5rem!important;padding-bottom:1.5rem!important}.py-5{padding-top:3rem!important;padding-bottom:3rem!important}
.pb-0{padding-bottom:0!important}
.font-monospace{font-family:var(--bs-font-monospace)!important}
.text-center{text-align:center!important}.text-decoration-none{text-decoration:none!important}
.text-secondary{color:#6c757d!important}
.text-muted{color:#6c757d!important}
.bg-secondary{background-color:#6c757d!important}
.bg-light{background-color:#f8f9fa!important}
.bg-white{background-color:#fff!important}
.rounded{border-radius:.25rem!important}
.rounded-3{border-radius:.3rem!important}.rounded-circle{border-radius:50%!important}.rounded-pill{border-radius:50rem!important}
body[data-app-cookie-banner="true"] div[data-app-component="cookie-banner"] {
            display: block;
        }
body {
            transition: filter 500ms linear;
        }
body[data-app-theme="light"] {
            filter: invert(0%);
        }
