{% extends '_page_theme.html.twig' %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block body_content %}
    <div class="mx-auto py-5 px-3">
        <div>
            <h1 class="display-1">About</h1>
        </div>
    </div>
{% endblock %}
