{% if ad is defined %}
    <div class="border p-1 text-secondary" data-app-component="ad">
        <p class="border-bottom text-end" style="font-size: 0.6rem;">
            Ad
        </p>

        <!-- above_content -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="{{ ad.client }}"
             data-ad-slot="{{ ad.slot }}"
             data-ad-format="{{ ad.format }}"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endif %}
