{# component: main-content #}

{% block style %}
    <!-- component: main-content -->
    <style>
    </style>
{% endblock %}

{% block data %}
    data-app-main-content="{{ value|default('#main') }}"
{% endblock %}

{% block html %}
    <!-- component: main-content -->
    <div class="d-flex mx-1" data-app-component="main-content">
        <button type="button" class="btn btn-outline-primary">
            {{ source('svg/paragraph.svg') }}
        </button>
    </div>
{% endblock %}

{% block script %}
    <!-- component: main-content -->
    <script type="text/javascript">
        (function () {
            'use strict';

            var list = document.querySelectorAll('[data-app-component="main-content"]');

            Array.prototype.slice.call(list)
                .forEach(
                    /**
                     * @param {HTMLDivElement} component
                     */
                    function (component) {
                        /** @type {HTMLButtonElement} */
                        var button = component.querySelector('button[type="button"]');

                        button.addEventListener('click', function (event) {
                            if (document.body.dataset.appMainContent === location.hash) {
                                location.hash = '';
                            }

                            location.hash = document.body.dataset.appMainContent;
                        }, false);
                    }
                );
        })();
    </script>
{% endblock %}
