{# component: reader-mode #}

{% block style %}
    <!-- component: reader-mode -->
    <style>
        body[data-app-reader-mode] > div:first-of-type .rm {
            transition: opacity 500ms linear;
        }

        body[data-app-reader-mode="true"] > div:first-of-type .rm {
            opacity: 0.0;
        }

        body[data-app-reader-mode="false"] > div:first-of-type .rm {
            opacity: 1.0;
        }
    </style>
{% endblock %}

{% block data %}
    data-app-reader-mode="{{ value|default(false) ? 'true' : 'false' }}"
{% endblock %}

{% block html %}
    <!-- component: reader-mode -->
    <div class="d-flex mx-1" data-app-component="reader-mode">
        <input class="btn-check" type="checkbox" id="btnCheck{{ id }}" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnCheck{{ id }}" title="Reader Mode" data-bs-toggle="tooltip"
               data-bs-placement="bottom">
            {{ source('svg/book.svg') }}
        </label>
    </div>
{% endblock %}

{% block script %}
    <!-- component: reader-mode -->
    <script type="text/javascript">
        (function () {
            'use strict';

            var list = document.querySelectorAll('[data-app-component="reader-mode"]');

            Array.prototype.slice.call(list)
                .forEach(
                    /**
                     * @param {HTMLDivElement} component
                     */
                    function (component) {
                        /** @type {HTMLInputElement} */
                        var checkbox = component.querySelector('input[type="checkbox"]');

                        checkbox.addEventListener('change', function (event) {
                            document.body.dataset.appReaderMode = !!checkbox.checked ? 'true' : 'false';
                        }, false);

                        checkbox.checked = 'true' === document.body.dataset.appReaderMode;
                    }
                );
        })();
    </script>
{% endblock %}
