<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% block meta %}
        <meta name="description" content="{% block description %}{% endblock %}">
    {% endblock %}

    {% block style %}
        {% set style = source('style/' ~ current_path ~ '.css', true) %}
        {% if style is not null %}
            <style>
                {{ style|raw }}
            </style>
            <link rel="preload" href="/res/style/bootstrap.min.css" as="style"
                  onload="this.onload=null;this.rel='stylesheet';">
            <noscript>
                <link href="/res/style/bootstrap.min.css" rel="stylesheet" type="text/css">
            </noscript>
        {% else %}
            <link href="/res/style/bootstrap.min.css" rel="stylesheet" type="text/css">
        {% endif %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}"{% block body_data %}{% endblock %}>
{% block body %}
{% endblock %}
{% block script %}
    <script src="/res/script/bootstrap.bundle.min.js" type="text/javascript"></script>
{% endblock %}
</body>
</html>
