<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% block style %}
        <link href="/res/style/bootstrap.min.css" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}
{% endblock %}
{% block script %}
    <script src="/res/script/bootstrap.bundle.min.js" type="text/javascript"></script>
{% endblock %}
</body>
</html>
