{% extends '_page_theme.html.twig' %}

{% block title %}machinateur.dev{% endblock %}

{% block body_content %}
    <div class="p-5">
        <h1 class="text-center">Under construction...</h1>
    </div>
{% endblock %}
